# =========================================================================
# ESCUDO PARA LA SUB-CARPETA DE UNITY (Taller2_25194332k_21288569k)
# =========================================================================
Taller2_25194332k_21288569k/[Ll]ibrary/
Taller2_25194332k_21288569k/[Tt]emp/
Taller2_25194332k_21288569k/[Oo]bj/
Taller2_25194332k_21288569k/[Bb]uild/
Taller2_25194332k_21288569k/[Bb]uilds/
Taller2_25194332k_21288569k/[Ll]ogs/
Taller2_25194332k_21288569k/[Uu]ser[Ss]ettings/
Taller2_25194332k_21288569k/.utmp/

# =========================================================================
# REGLAS GLOBALES DE UNITY Y EDITORES
# =========================================================================
*.log
*.blend1
*.blend1.meta
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*

# Builds finales
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Archivos específicos dentro de Assets de la sub-carpeta
Taller2_25194332k_21288569k/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user
Taller2_25194332k_21288569k/[Aa]ssets/StreamingAssets/aa*
Taller2_25194332k_21288569k/[Aa]ssets/AddressableAssetsData/link.xml*
Taller2_25194332k_21288569k/[Aa]ssets/Addressables_Temp*
Taller2_25194332k_21288569k/[Aa]ssets/AddressableAssetsData/*/*.bin*